*{
    margin:0;
}
body {
    background-image: linear-gradient(rgba(53, 224, 31, 0.63), rgba(133, 131, 21, 0.623), rgba(138, 146, 25, 0.582));;
    font-family: gloock;
}
.navbar {
	background-color:rgb(9, 102, 25);
}
a {
	display:inline-block;
	padding: 8px;
	text-align: center;
    width: 100%;
	color: #FFF;
}
.navbar a:hover {
	background: rgb(224, 171, 24);
	color: #fff;
	text-decoration: none;
    opacity: 0.6;
}
.container {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.imagecontainer img {
	width: 100%;
	height: 900;
	vertical-align: top;
	object-position: 0 bottom;
}
.menu {
    font-style: italic;
    font-weight: bold;
    color:rgb(224, 171, 24);   
}
.menucontent {
    margin: 60px;
    color:rgb(224, 171, 24); 
}
.blogtitle {
    color:darkgreen;
    text-align: center;
}
.title{
    color:rgb(9, 102, 25);
    text-align: center;
    font-style: oblique;
    font-size:xx-large;
    font-family: Impact;
    font-display:initial;
    max-height: fit-content;
    background-color: #FFF;
    font-weight: 700;
}
.slogan {
    color:rgb(224, 171, 24);
    text-align: center;
    background-color: #FFF;
    font-size:medium;    
}
.horoscope {
    margin:100;
    color:rgb(224, 171, 24);
}
.subtitle {
    text-align: center;
    color: rgb(9, 102, 25);
}

img {
    display: block;
    margin: auto;
  }
#secwhat, #sechow, #secsign {
    text-align: center;
    color:#FFF;
  }
 .final {
    text-align: center;
    color:#FFF;
 }
.important {
    font-style:italic;
}